---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Work from '../components/Work.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Marut Punsakorn">
  <Header title="Marut Punsakorn" description="Welcome to my website." />
  <main id="__skipToContent_fallback">
    <Work />
    <Contact />
  </main>
</Layout>
