---
---
<div class="card">
  <div class="card__header">
    <h2 class="card__title">About</h2>
    <p>Hello, I'm Marut.</p>
  </div>
</div>
<div class="card">
  <div class="card__header">
    <h2 class="card__title">Experience</h2>
    <p>Dec 2023 - Present: Assistant Digital Marketing Consultant</p>
    <p>Oct 2021 - Nov 2023: Assistant Front-end Developer</p>
    <p>TDCX (MY) Sdn Bhd</p>
    <hr class="card__bar">
    <p>Jun 2020 - Sep 2021 Teacher</p>
    <p>Wat Na Nong Primary School</p>
    <hr class="card__bar">
    <p>Oct 2017 - Sep 2018 Transaction Process Analyst</p>
    <p>IT Business Solutions Sdn Bhd</p>
    <hr class="card__bar">
    <p>Aug 2015 - Dec 2015 Network Engineer (Internship)</p>
    <p>KSC Commercial Internet Co., Ltd.</p>
  </div>
</div>
<div class="card">
  <div class="card__header">
    <h2 class="card__title">Education</h2>
    <p>2012 - 2017 B.Eng. (Electronics Engineering - Telecommunication)</p>
    <p>King Mongkut's University of Technology North Bangkok, Thailand</p>
  </div>
</div>
