---

---
<section class="grid-container prose dark:prose-invert mt-8">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-3">
      <div class="callout">
        <h2 class="text-center">Contact Us</h2>
      </div>
    </div>
    <div class="cell small-12 medium-9">
      <form id="contact-form" action="https://formspree.io/f/mnqygbrj" method="POST">
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">Name</span>
          </div>
          <input type="text" placeholder="Your Name" class="input input-bordered w-full max-w-xs" id="name" name="name"/>
        </label>
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">Your E-mail</span>
          </div>
          <input type="text" placeholder="Your E-mail" class="input input-bordered w-full max-w-xs" id="email" name="email"/>
        </label>
        <label class="form-control">
          <div class="label">
            <span class="label-text">Message</span>
          </div>
          <textarea class="textarea textarea-bordered h-24" placeholder="Your Message" id="message" name="message" rows="5"></textarea>
        </label>
        <button type="submit" class="btn btn-primary text-base-100 btn-responsive">
          <span class="loading loading-spinner hidden"></span>
          Submit
        </button>
      </form>
      <div role="alert" class="alert hidden" id="status">
        <span></span>
      </div>
    </div>
  </div>
</section>

<script>
import axios from 'axios';
const contactForm = document.getElementById('contact-form');
const loadingIcon = document.querySelector('.loading');
const submitBtn = document.querySelector('[type=submit]');
const submitBtnMessage = submitBtn.querySelector('span');
const status = document.querySelector('#status');
const statusMessage = status.querySelector('span');

async function handleSubmitForm(event) {
  event.preventDefault();
  const payload = new FormData(event.target);

  loadingIcon.classList.remove('hidden');
  submitBtnMessage.textContent = 'Submitting...';
  submitBtn.disabled = true;

  try {
    const response = await axios.post(contactForm.action, {
      name: payload.get('name'),
      email: payload.get('email'),
      message: payload.get('message'),
    });

    status.classList.remove('hidden');
    status.classList.add('alert-success');
    statusMessage.textContent = `Thanks, we'll contact you soon.`;
    contactForm.reset();

  } catch (error) {
    status.classList.remove('hidden');
    status.classList.add('alert-warning');
    statusMessage.textContent = `Unexpected error occurred. Please try again.`;

  } finally {
    loadingIcon.classList.add('hidden');
    submitBtnMessage.textContent = `Submit`;
    submitBtn.disabled = false;
  }
}

contactForm.addEventListener('submit', handleSubmitForm);

</script>
