---
---
<section class="container">
  <div class="grid__row">
    <div class="grid__cell grid__cell--small-12 grid__cell--medium-3">
      <h2 class="contact__title">Contact Us</h2>
    </div>
    <div class="grid__cell grid__cell--small-12 grid__cell--medium-9">
      <form id="contact-form" action="https://formspree.io/f/mnqygbrj" method="POST">
        <div class="contact__form-group">
          <label class="contact__form-label" for="name">
            Name
          </label>
          <input class="contact__input" id="name" name="name" type="text">
        </div>
    
        <div class="contact__form-group">
          <label class="contact__form-label" for="email">
            E-mail address
          </label>
          <input class="contact__input" id="email" name="email" type="text">
        </div>
    
        <div class="contact__form-group">
          <label class="contact__form-label" for="message">
            Message
          </label>
          <textarea id="message" name="message" rows="5" class="contact__textarea"></textarea>
        </div>
        <button type="submit" class="contact__button">Submit</button>
      </form>
    </div>
  </div>
</section>
