---
---
<div class="toast toast-center" id="cookie-banner">
  <div class="alert">
    <small>By using this website you agree to our cookie policy.</small>
    
    <div>
      <button class="btn btn-sm btn-secondary" id="cookie-button">Close</button>
    </div>
  </div>
</div>
<script>
  import Cookies from 'js-cookie'
  const cookieBanner = document.getElementById('cookie-banner')
  const cookieBtn = document.getElementById('cookie-button')
  const cookieName = 'cookie-banner-dismissed'

  function checkCookie() {
    if (Cookies.get(cookieName)) {
      cookieBanner.classList.add('hidden')
    } else {
      cookieBanner.classList.remove('hidden')
      cookieBanner.classList.add('block')
    }
  }

  function isCookieDismissed() {
    Cookies.set('cookie-banner-dismissed', true, { expires: 365, secure: true })
    cookieBanner.classList.add('hidden')
  }

  window.addEventListener('load', checkCookie)

  cookieBtn.addEventListener('click', isCookieDismissed)
</script>
