---

---

<div class="cookie">
  <div class="cookie__container">
    <p>By using this website you agree to our cookie policy.</p>
    <button class="cookie__button">Close</button>
  </div>
</div>
<script src="../lib/cookie.ts"></script>
