---
---

<div class="m-0 p-0 fixed z-30 bottom-1 left-0 right-0 text-center hidden" id="cookie-banner">
  <div class="rounded inline-block mx-auto py-2 pr-4 pl-11 relative shadow-md bg-amaranth-100 text-xs leading-6">
    <button class="w-10 h-10 absolute top-0 left-0 cursor-pointer" id="cookie-button">
      <span class="absolute w-px h-px p-0 overflow-hidden border-0">Close</span>
      <svg width="40" height="40" class="absolute top-0 left-0 stroke-black">
        <path d="M14,14L26,26M14,26L26,14"></path>
      </svg>
    </button>By using this website you agree to our cookie policy.
  </div>
</div>
<script>
  import Cookies from 'js-cookie'
  const cookieBanner = document.getElementById('cookie-banner')
  const cookieBtn = document.getElementById('cookie-button')
  const cookieName = 'cookie-banner-dismissed'

  function checkCookie() {
    if (Cookies.get(cookieName)) {
      cookieBanner.classList.add('hidden')
    } else {
      cookieBanner.classList.remove('hidden')
      cookieBanner.classList.add('block')
    }
  }

  function isCookieDismissed() {
    Cookies.set('cookie-banner-dismissed', true, { expires: 365, secure: true })
    cookieBanner.classList.add('hidden')
  }

  window.addEventListener('load', checkCookie)

  cookieBtn.addEventListener('click', isCookieDismissed)
</script>
