---
export interface Props {
  update: string
}

const { update } = Astro.props
---

<footer class="footer footer-center bg-base-300 text-base-content p-4">
  <aside>
    <p>Built with Astro, TailwindCSS and DaisyUI</p>
    <p>Last updated: {update}</p>
  </aside>
</footer>
