---
interface Props {
  title: string;
  updatedAt: string;
}

import ViewDesktop from '../components/ui/ViewDesktop.astro';
const year = new Date().getFullYear();

const { title, updatedAt } = Astro.props;
const localDateTime = new Date(updatedAt).toLocaleString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<footer class="footer">
  <div class="footer__container">
    <p>Copyright {year} {title}</p>
    <p>Last updated <time datetime={updatedAt}>{localDateTime}</time></p>
  </div>
  <ViewDesktop />
</footer>
