---
export interface Props {
  update: string
}

const { update } = Astro.props
---

<footer class="footer" role="contentinfo">
  <div class="container">
    <p>Designed and Built by Marut Punsakorn</p>
    <p>This site is made with Astro, TailwindCSS and Formspree</p>
    <p class="footer__colophon">Last updated: {update}</p>
  </div>
</footer>
