---
---
<header class="container">
  <h1 class="header__title">Marut Punsakorn</h1>
  <p class="header__description">Software Engineer, Account Strategist and a little Comedian</p>
  <hr class="header__bar">
</header>
