---
---
<header class="grid-container">
  <div class="prose dark:prose-invert">
    <h1>Marut Punsakorn</h1>
    <p>Software Engineer, Account Strategist, Analyst, Teacher, Comedian</p>
  </div>
</header>
