---
import { Picture } from 'astro:assets';
import animals from '../assets/animals.jpg';
---

<div class="container section">
  <figure class="flex flex-col flex-wrap items-center space-y-4">
    <Picture src={animals} formats={['avif', 'webp']} alt="livestock" />
    <figcaption>Goats, cows, and dogs are common livestock animals.</figcaption>
  </figure>
</div>
