---
---

<section class="mb-8 container mx-auto">
  <figure class="flex flex-col justify-center items-center">
    <img src="/images/undraw_stand_out_-1-oag.svg" />
    <figcaption class="mt-4 text-5xl font-body font-bold text-center">Marut Punsakorn</figcaption>
  </figure>
  <p class="text-center font-body text-a11y">Teacher, Web Developer, Solutions Engineer</p>
</section>
