---

---

<nav class="navbar">
  <div class="navbar__inner">
    <ul class="navbar__items">
      <li class="navbar__item"><a class="navbar__link" href="/" rel="home">Home</a></li>
      <li class="navbar__item"><a class="navbar__link" href="/blog">Blog</a></li>
    </ul>
  </div>
</nav>
