---
---

<section class="container mx-auto mb-8">
  <div class="flex flex-row flex-wrap justify-center items-center">
    <div class="w-full px-4">
      <h2 class="mb-4 font-body font-bold text-3xl sm:text-5xl">Experiences</h2>
    </div>
  </div>
  <div class="flex flex-row flex-wrap justify-center items-start">
    <div class="w-full sm:w-1/2 px-4">
      <div class="relative mb-4 sm:mb-0 py-4 px-6 rounded shadow-md border border-solid border-amaranth-300 bg-amaranth-50">
        <h3 class="leading-relaxed text-amaranth-900 font-body font-bold text-base sm:text-xl">Work Experience</h3>
        <p class="text-amaranth-600 text-base sm:text-a11y leading-normal font-body">Oct 2021 - Present Assistant Front-end Developer</p>
        <p class="text-amaranth-600 text-base sm:text-a11y leading-normal font-body">TDCX (MY) Sdn Bhd, Malaysia</p>
        <hr class="my-4 border-y border-solid border-t-amaranth-600/50 border-b-white/50" />
        <p class="text-amaranth-600 text-base sm:text-a11y leading-normal font-body">Jun 2020 - Sep 2021 Teacher</p>
        <p class="text-amaranth-600 text-base sm:text-a11y leading-normal font-body">Wat Na Nong Primary School, Thailand</p>
        <hr class="my-4 border-y border-solid border-t-amaranth-600/50 border-b-white/50" />
        <p class="text-amaranth-600 text-base sm:text-a11y leading-normal font-body">Oct 2017 - Sep 2018 Transaction Process Analyst</p>
        <p class="text-amaranth-600 text-base sm:text-a11y leading-normal font-body">IT Business Solutions Sdn Bhd, Malaysia</p>
        <hr class="my-4 border-y border-solid border-t-amaranth-600/50 border-b-white/50" />
        <p class="text-amaranth-600 text-base sm:text-a11y leading-normal font-body">Aug 2015 - Dec 2015 Network Engineer (Internship)</p>
        <p class="text-amaranth-600 text-base sm:text-a11y leading-normal font-body">KSC Commercial Internet Co., Ltd., Thailand</p>
      </div>
    </div>
    <div class="w-full sm:w-1/2 px-4">
      <div class="relative mb-4 py-4 px-6 rounded shadow-md border border-solid border-amaranth-300 bg-amaranth-50">
        <h3 class="leading-relaxed text-amaranth-900 font-body font-bold text-base sm:text-xl">Education</h3>
        <p class="text-amaranth-600 text-base sm:text-a11y leading-normal font-body">2012 - 2017 B.Eng. (Electronics Engineering - Telecommunication)</p>
        <p class="text-amaranth-600 text-base sm:text-a11y leading-normal font-body">King Mongkut's University of Technology North Bangkok, Thailand</p>
        <ul>
          <li class="text-amaranth-600 text-base sm:text-a11y leading-normal font-body list-disc">Member and Commitee of Northern Club</li>
          <li class="text-amaranth-600 text-base sm:text-a11y leading-normal font-body list-disc">Member and Commitee of University Magazine Club (in-house)</li>
        </ul>
      </div>
      <div class="relative py-4 px-6 rounded shadow-md border border-solid border-amaranth-300 bg-amaranth-50">
        <h3 class="leading-relaxed text-amaranth-900 font-body font-bold text-base sm:text-xl">Skill</h3>
        <p class="text-amaranth-600 text-base sm:text-a11y leading-normal font-body">Languages: Thai (native), English</p>
        <p class="text-amaranth-600 text-base sm:text-a11y leading-normal font-body">Programming: HTML, CSS and JavaScript</p>
        <p class="text-amaranth-600 text-base sm:text-a11y leading-normal font-body">Team working, Open-minded, Customer Support (Technical and Non-Technical)</p>
      </div>
    </div>
  </div>
</section>
