---

---

<div class="viewport">
  <button class="viewport__button" id="viewMobile">View Mobile</button>
  <button class="viewport__button" id="viewDesktop">View Desktop</button>
</div>
<script src="../../lib/viewport.ts"></script>
